.card {
    display: block;
    background: #D1E5E1;
    border: 1px double gray;
    padding: 20px;
    min-height: 5vh;
    font-size: large;
    margin-bottom: 1vh;
    width: 85%;
}

.card--high {
    background: #B4DC47;

}

.card--medium {
    background: #F4C141;

}

.card--low {
    background: #F08080;

}
