.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0.5em;
    height: 100vh;
  }

header,
aside,
article,
footer {
    background: #eaeaea;
    padding: 1em;
}

header, footer {
    grid-column: 1 / 4;
}

body {
    margin: 0 auto;
    max-width: 99%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.column-header {
    text-align: center;
    margin-bottom: 3vh;
}

.grid > * {
    align-items: center;
    justify-content: center;
}

.card {
    display: block;
    border: 1px double gray;
    padding: 20px;
    min-height: 5vh;
    font-size: larger;
    margin-bottom: 1vh;

}
