.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0.5em;
    height: 90vh;
  }

aside,
article,
footer {
    border: 1px dotted #0D355A;
    border-radius: 5px;
}

header, footer {
    grid-column: 1 / 4;
}


body {
    margin: 0 auto;
    max-width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introText {
    font-size: small;
}
